<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>User</title>
</head>
<body>
   <div class="w-full h-screen bg-zinc-900 p-10 text-white">
    <h1 class="text-3xl">Create post</h1>
    <div class="w-30 h-20 bg-zinc-700">
      <input type="text " placeholder = "text" name="description" class="">
    </div>
      
   </div>
</body>
</html>